<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/admins">home Admin</a>
    <a href="/users">home Users</a>
    <br>
    <br>
    <h1>Tabel Product Admins</h1>
    <a href="/admins/addPrdoucts"> Add Product</a>

    <br>
    <br>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Name Product</th>
            <th>Description Product</th>
            <th>Denom</th>
            <th>Price</th>
            <th>imageUrl</th>
            <th>category Name</th>
            <th>company Name</th>
            <th colspan="2">Action</th>
        </tr>
             <% tabelProduct.forEach((el,i) => { %> 
            <tr>
                <td> <%=(i+1)%> </td>
                <td> <%=el.name%> </td>
                <td> <%=el.description%> </td>
                <td> <%=el.denom%> </td>
                <td> <%=el.price%> </td>
                <td> <%=el.imageUrl%> </td>
                <th> <%=el.CategoryId%></th>
                <th> <%=el.CompanyId%></th>
                <td> <a href="/admins/<%=el.id%>/editProducts">  <button>  Edit  </button> </a> </td>
                <td> <a href="/admins/<%=el.id%>/deleteProducts">  <button>  Delete  </button> </a> </td>
            </tr>
            <% }) %>
        
    </table>
</body>
</html>